/* add Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Mono:wght@400;500;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* wildcard selector to override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* generic style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Roboto Mono', sans-serif;

}

/* header element */
header {
    background-color: red;
}

h1 {
    font-family: 'Fira Mono', sans-serif;
}

/* main element */

main {
    background-color: blue;
    /* flex set to keep footer down at bottom of page */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

/* footer element */
footer { 
    background-color: aqua;
}